<%= search_form_for q, url: url do |f| %>
<div class="input-group mb-3">
  <%= f.search_field :title_cont, class: 'form-control m-1', placeholder:"タイトル検索" %>
  <%= f.search_field :actors_name_cont, class: 'form-control m-1', placeholder:"出演声優で検索" %>
  <%= f.select :year_eq, (2000..Date.today.year+1).to_a.map { |year| [year.to_s, year] }, { include_blank: '年を選択' }, { class: 'form-control m-1' } %>
  <%= f.select :season_eq, options_for_select([['冬 (Winter)', 'winter'],['春 (Spring)', 'spring'], ['夏 (Summer)', 'summer'], ['秋 (Autumn)', 'autumn']], params[:q] && params[:q][:season_eq]), { include_blank: '季節を選択' }, { class: 'form-control m-1' } %>
  <div class="input-group-append">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
</div>
<% end %>